#count{
    display: block;
    font-size: 5em;
    text-align: center;
    font-family: helvetica;
}

#container{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    color: black;
    background-color:beige;
    border-radius: 5px ;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: bisque;
}